@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --primary-color: #34d399;
    --secondary-color: #1f2937;
  }
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family:
    'SF Pro Rounded Heavy', 'SF Pro Rounded Heavy Placeholder', '-apple-system',
    'BlinkMacSystemFont', sans-serif;
}
